USE [master]
GO
/****** Object:  Database [SHOP_GIAC_UI]    Script Date: 3/17/2021 10:56:16 PM ******/
CREATE DATABASE [SHOP_GIAC_UI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOP_GIAC_UI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SHOP_GIAC_UI.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHOP_GIAC_UI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SHOP_GIAC_UI_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOP_GIAC_UI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOP_GIAC_UI]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID_AC] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](100) NOT NULL,
	[ID_NV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[ID_CTHD] [int] IDENTITY(1,1) NOT NULL,
	[ID_HD] [int] NULL,
	[ID_H] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCHANG]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCHANG](
	[ID_DM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[ID_HH] [int] IDENTITY(1,1) NOT NULL,
	[TenHH] [nvarchar](30) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[ID_DM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HD] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[ID_KH] [int] NULL,
	[ID_NV] [int] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[Express] [nvarchar](10) NULL,
	[ChietKhau] [varchar](10) NULL,
	[TrangThaiGiac] [nvarchar](100) NULL,
	[TrangThaiTT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[SDT] [decimal](10, 0) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](30) NOT NULL,
	[ChuVu] [nvarchar](30) NOT NULL DEFAULT (N'Nhân viên'),
	[SDT] [decimal](10, 0) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[AnhDD] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID_AC], [UserName], [PassWord], [ID_NV]) VALUES (1, N'admin', N'1', 1)
INSERT [dbo].[ACCOUNT] ([ID_AC], [UserName], [PassWord], [ID_NV]) VALUES (2, N'nhanvien', N'2', 2)
INSERT [dbo].[ACCOUNT] ([ID_AC], [UserName], [PassWord], [ID_NV]) VALUES (3, N'ketoan', N'3', 3)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
SET IDENTITY_INSERT [dbo].[DANHMUCHANG] ON 

INSERT [dbo].[DANHMUCHANG] ([ID_DM], [TenDM]) VALUES (1, N'Quần')
INSERT [dbo].[DANHMUCHANG] ([ID_DM], [TenDM]) VALUES (2, N'Áo')
INSERT [dbo].[DANHMUCHANG] ([ID_DM], [TenDM]) VALUES (3, N'Mền')
SET IDENTITY_INSERT [dbo].[DANHMUCHANG] OFF
SET IDENTITY_INSERT [dbo].[HANGHOA] ON 

INSERT [dbo].[HANGHOA] ([ID_HH], [TenHH], [DonGia], [ID_DM]) VALUES (1, N'Áo Sơ mi', CAST(40000 AS Decimal(18, 0)), 2)
INSERT [dbo].[HANGHOA] ([ID_HH], [TenHH], [DonGia], [ID_DM]) VALUES (2, N'Áo Vest', CAST(90000 AS Decimal(18, 0)), 2)
INSERT [dbo].[HANGHOA] ([ID_HH], [TenHH], [DonGia], [ID_DM]) VALUES (3, N'Áo Ghi-lê', CAST(40000 AS Decimal(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[HANGHOA] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID_KH], [TenKH], [SDT], [DiaChi]) VALUES (1, N'Phạm Hồng Phước', CAST(1234567890 AS Decimal(10, 0)), N'123 Lã Xuân Oai')
INSERT [dbo].[KHACHHANG] ([ID_KH], [TenKH], [SDT], [DiaChi]) VALUES (2, N'Trương Ngọc Nhi', CAST(1234567890 AS Decimal(10, 0)), N'04 Lý Thái Tổ')
INSERT [dbo].[KHACHHANG] ([ID_KH], [TenKH], [SDT], [DiaChi]) VALUES (3, N'Hồ Ngọc Hà', CAST(1234567890 AS Decimal(10, 0)), N'999 đường 3 tháng 2')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID_NV], [TenNV], [ChuVu], [SDT], [NgaySinh], [DiaChi], [AnhDD]) VALUES (1, N'Hà Nhật Huy', N'Admin', CAST(1234567890 AS Decimal(10, 0)), CAST(N'2000-05-25' AS Date), N'160 Lã Xuân Oai', N'h1.png')
INSERT [dbo].[NHANVIEN] ([ID_NV], [TenNV], [ChuVu], [SDT], [NgaySinh], [DiaChi], [AnhDD]) VALUES (2, N'Nguyễn Đức Hùng', N'nhanvien', CAST(1234567890 AS Decimal(10, 0)), CAST(N'2000-05-25' AS Date), N'160 Lã Xuân Oai', N'h3.png')
INSERT [dbo].[NHANVIEN] ([ID_NV], [TenNV], [ChuVu], [SDT], [NgaySinh], [DiaChi], [AnhDD]) VALUES (3, N'Đoàn Trí Linh', N'ketoan', CAST(1234567890 AS Decimal(10, 0)), CAST(N'2000-05-25' AS Date), N'160 Lã Xuân Oai', N'h2.png')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHANVIEN] ([ID_NV])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_H])
REFERENCES [dbo].[HANGHOA] ([ID_HH])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_HD])
REFERENCES [dbo].[HOADON] ([ID_HD])
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD FOREIGN KEY([ID_DM])
REFERENCES [dbo].[DANHMUCHANG] ([ID_DM])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([ID_KH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHANVIEN] ([ID_NV])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[USP_GetHangTheoDanhMuc]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[USP_GetHangTheoDanhMuc]
@id_dm int
as
begin
	select *
	from HANGHOA
	where ID_DM = @id_dm
end

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListDanhMuc]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- Proc

CREATE PROC	[dbo].[USP_GetListDanhMuc]
AS
BEGIN
	select *
	from DANHMUCHANG
END


GO
/****** Object:  StoredProcedure [dbo].[USP_GetListHoaDonThuTien]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[USP_GetListHoaDonThuTien]
AS
BEGIN
	SELECT hd.ID_HD,hd.NgayNhap,hd.NgayKetThuc,kh.TenKH, nv.TenNV, hd.TrangThaiGiac, hd.TongTien , hd.TrangThaiTT FROM dbo.HOADON hd, dbo.KHACHHANG kh, dbo.NHANVIEN nv
	WHERE hd.ID_KH = kh.ID_KH AND hd.ID_NV = nv.ID_NV AND hd.TrangThaiGiac = N'Xong'
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetTotal_NhanVien]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetTotal_NhanVien]
AS
BEGIN
	SELECT COUNT(*) FROM dbo.NHANVIEN
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROC [dbo].[USP_Login] 
@username nvarchar(100),
@password nvarchar(100)
AS
BEGIN
	SELECT ID_AC,ACCOUNT.ID_NV,TenNV,AnhDD,ChuVu
	FROM dbo.ACCOUNT INNER JOIN dbo.NHANVIEN ON NHANVIEN.ID_NV = ACCOUNT.ID_NV
	WHERE UserName = @username AND PassWord = @password
END

GO
/****** Object:  StoredProcedure [dbo].[USP_timKiemHoaDonThuTienTheoID]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[USP_timKiemHoaDonThuTienTheoID]
@id int
AS
BEGIN
	SELECT hd.ID_HD,hd.NgayNhap,hd.NgayKetThuc,kh.TenKH, nv.TenNV, hd.TrangThaiGiac, hd.TongTien , hd.TrangThaiTT FROM dbo.HOADON hd, dbo.KHACHHANG kh, dbo.NHANVIEN nv
	WHERE hd.ID_KH = kh.ID_KH AND hd.ID_NV = nv.ID_NV AND hd.TrangThaiGiac = N'Xong' AND hd.ID_HD = @id
END


GO
/****** Object:  StoredProcedure [dbo].[USP_timKiemHoaDonThuTienTheoIDvaTEN]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[USP_timKiemHoaDonThuTienTheoIDvaTEN]
@id int, @tenkh NVARCHAR(30)
AS
BEGIN
	SELECT hd.ID_HD,hd.NgayNhap,hd.NgayKetThuc,kh.TenKH, nv.TenNV, hd.TrangThaiGiac, hd.TongTien , hd.TrangThaiTT FROM dbo.HOADON hd, dbo.KHACHHANG kh, dbo.NHANVIEN nv
	WHERE hd.ID_KH = kh.ID_KH AND hd.ID_NV = nv.ID_NV AND hd.TrangThaiGiac = N'Xong' AND hd.ID_HD = @id AND kh.TenKH LIKE N'%' + @tenkh + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[USP_timKiemHoaDonThuTienTheoTen]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[USP_timKiemHoaDonThuTienTheoTen]
@tenkh nvarchar(30)
AS
BEGIN
	SELECT hd.ID_HD,hd.NgayNhap,hd.NgayKetThuc,kh.TenKH, nv.TenNV, hd.TrangThaiGiac, hd.TongTien , hd.TrangThaiTT FROM dbo.HOADON hd, dbo.KHACHHANG kh, dbo.NHANVIEN nv
	WHERE hd.ID_KH = kh.ID_KH AND hd.ID_NV = nv.ID_NV AND hd.TrangThaiGiac = N'Xong' AND kh.TenKH LIKE N'%' + @tenkh + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[USP_TONGDOANHTHU]    Script Date: 3/17/2021 10:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC	[dbo].[USP_TONGDOANHTHU]
AS
BEGIN
	SELECT SUM(TongTien) FROM dbo.HOADON WHERE TrangThaiTT = N'Xong'
END
-- TESST







GO
USE [master]
GO
